CREATE DATABASE [JDiazPruebaGrupoOllamani]
GO
USE [JDiazPruebaGrupoOllamani]
/****** Object:  StoredProcedure [dbo].[DepartamentoGetAll]    Script Date: 1/13/2026 5:22:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DepartamentoGetAll]
AS
BEGIN
SELECT IdDepartamento, Nombre
FROM Departamento
END
GO
/****** Object:  StoredProcedure [dbo].[EmpleadoCRUD]    Script Date: 1/13/2026 5:22:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EmpleadoCRUD]
(
	@Accion VARCHAR(20), 
    @IdEmpleado INT = NULL,
    @Nombre VARCHAR(50) = NULL,
    @ApellidoPaterno VARCHAR(50) = NULL,
    @ApellidoMaterno VARCHAR(50) = NULL,
    @Salario DECIMAL(18,2) = NULL,
    @Activo BIT = NULL,
    @IdDepartamento INT = NULL
)
AS
BEGIN
	IF @Accion = 'GetAll'
	BEGIN
		SELECT Empleado.IdEmpleado, 
			Empleado.Nombre AS NombreEmpleado, 
			Empleado.ApellidoPaterno, 
			Empleado.ApellidoMaterno,
			Empleado.Salario, Empleado.Activo, 
			Empleado.FechaRegistro, 
			Departamento.IdDepartamento, 
			Departamento.Nombre AS NombreDepartamento
		FROM Empleado
		INNER JOIN Departamento ON Empleado.IdDepartamento = Departamento.IdDepartamento
	END

	ELSE IF @Accion = 'GetById'
	BEGIN
		SELECT Empleado.IdEmpleado, 
			Empleado.Nombre AS NombreEmpleado, 
			Empleado.ApellidoPaterno, 
			Empleado.ApellidoMaterno,
			Empleado.Salario, Empleado.Activo, 
			Empleado.FechaRegistro, 
			Departamento.IdDepartamento, 
			Departamento.Nombre AS NombreDepartamento
	FROM Empleado
	INNER JOIN Departamento ON Empleado.IdDepartamento = Departamento.IdDepartamento
	WHERE Empleado.IdEmpleado = @IdEmpleado
	END	

	ELSE IF @Accion = 'Add'
	BEGIN 
		INSERT INTO Empleado (
			Nombre, 
			ApellidoPaterno, 
			ApellidoMaterno, 
			Salario, 
			Activo, 
			FechaRegistro, 
			IdDepartamento) 
		VALUES(@Nombre,
			@ApellidoPaterno, 
			@ApellidoMaterno, 
			@Salario, @Activo, 
			GETDATE(), 
			@IdDepartamento);

			SELECT @@ROWCOUNT AS Filas
	END  

	ELSE IF @Accion = 'Update'
	BEGIN
		UPDATE	Empleado 
		SET Nombre = @Nombre, 
			ApellidoPaterno = @ApellidoPaterno, 
			ApellidoMaterno = @ApellidoMaterno,
			Salario = @Salario, 
			Activo = @Activo, 
			IdDepartamento = @IdDepartamento
		WHERE IdEmpleado = @IdEmpleado

	END

	ELSE IF @Accion = 'Delete'
	BEGIN
		DELETE FROM Empleado
		WHERE IdEmpleado = @IdEmpleado
	END
END
GO
/****** Object:  Table [dbo].[Departamento]    Script Date: 1/13/2026 5:22:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Departamento](
	[IdDepartamento] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDepartamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 1/13/2026 5:22:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Empleado](
	[IdEmpleado] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[ApellidoPaterno] [varchar](50) NOT NULL,
	[ApellidoMaterno] [varchar](50) NOT NULL,
	[Salario] [decimal](10, 4) NOT NULL,
	[Activo] [bit] NULL,
	[FechaRegistro] [date] NULL,
	[IdDepartamento] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Departamento] ON 

INSERT [dbo].[Departamento] ([IdDepartamento], [Nombre]) VALUES (1, N'Recursos Humanos')
INSERT [dbo].[Departamento] ([IdDepartamento], [Nombre]) VALUES (2, N'Sistemas')
INSERT [dbo].[Departamento] ([IdDepartamento], [Nombre]) VALUES (3, N'Finanzas')
SET IDENTITY_INSERT [dbo].[Departamento] OFF
SET IDENTITY_INSERT [dbo].[Empleado] ON 

INSERT [dbo].[Empleado] ([IdEmpleado], [Nombre], [ApellidoPaterno], [ApellidoMaterno], [Salario], [Activo], [FechaRegistro], [IdDepartamento]) VALUES (4, N'Carlos', N'Ramo', N'Feliz', CAST(88.0000 AS Decimal(10, 4)), 1, CAST(0x2A490B00 AS Date), 1)
INSERT [dbo].[Empleado] ([IdEmpleado], [Nombre], [ApellidoPaterno], [ApellidoMaterno], [Salario], [Activo], [FechaRegistro], [IdDepartamento]) VALUES (5, N'María', N'López', N'Hernández', CAST(14000.0000 AS Decimal(10, 4)), 1, CAST(0x2A490B00 AS Date), 2)
INSERT [dbo].[Empleado] ([IdEmpleado], [Nombre], [ApellidoPaterno], [ApellidoMaterno], [Salario], [Activo], [FechaRegistro], [IdDepartamento]) VALUES (9, N'Santiago', N'Diaz', N'Perez', CAST(13500.0000 AS Decimal(10, 4)), 1, CAST(0x2A490B00 AS Date), 3)
SET IDENTITY_INSERT [dbo].[Empleado] OFF
ALTER TABLE [dbo].[Empleado]  WITH CHECK ADD FOREIGN KEY([IdDepartamento])
REFERENCES [dbo].[Departamento] ([IdDepartamento])
GO
